body{
    overflow:hidden;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.top{
    height: 10%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.left{
    padding: 0 0 0 100px;
}

.left div{
    margin-top: 20px;
    float: left;
    text-align: center;
}

.left div label{
    padding: 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(196, 196, 196);
}

.left #generate{
    float: left;
    clear: left;
    margin-top: 20px;
}

.right{

}

input[type="range"]{
    position: relative;
    -webkit-appearance: none;
}
input[type="range"]::after{
    content: '100';
    position :absolute;
    top:15px;
    right:0;
}

input[type="range"]::before{
    content: '5';
    position :absolute;
    top:15px;
    left:5px;
}

.sort-container{
    background-color: antiquewhite;
    height: 90%;
}

.area{
    width: 95%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.bar{
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 80%;
    background-color: cornflowerblue;
    text-align: center;
}
.span-style{
    color:#eee;
    font-size: 12px;
    font-weight: 900;
    width: fit-content;
}

.red{
    background-color: darkred;
}

.green{
    background-color: darkgreen!important;
}

